.lessons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	// background-color: blue;

	.lesson-col {
		position: relative;
		flex-shrink: 0;
		flex-grow: 0;
	}

	.lesson-item {
		position: absolute;
		left: 0;
		right: 0;
		margin: 3rpx;
		border-radius: 3rpx;
		padding: 3rpx;
		box-sizing: border-box;

		.lesson-item-text {
			color: #fff;
			font-size: 28rpx;
			font-weight: bold;
		}
	}
}